<script src="https://kit.fontawesome.com/your_fontawesome_kit_id.js" crossorigin="anonymous"></script>
<!-- jQuery kütüphanesi -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Bootstrap kütüphanesi -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<hr class="my-4">
<footer class="bg-body-tertiary text-center text-lg-start" style="background-color: rgba(0, 0, 0, 0.05); width: 100%;">
    <!-- Grid container -->
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="font-size: 11px;">Kurumsal</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Hakkımızda</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Sürdürülebilirlik</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">İnsan Kaynakları</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Haberler</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Site Haritası</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">İletişim</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0" style="font-size: 11px;">Hizmetlerimiz</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Doping</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">S - Param Güvende</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Güvenli e-Ticaret (GeT)</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Reklam</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Mobil</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Auto King</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="font-size: 11px;">Mağazalar</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Neden Mağaza?</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Mağaza Açmak İstiyorum</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0" style="font-size: 11px;">Gizlilik ve Kullanım </h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Güvenli Alışverişin İpuçları</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Sözleşmeler ve Kurallar</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Hesap Sözleşmesi</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Kullanım Koşulları</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Kişisel Verilerin Korunması</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Çerez Yönetimi</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Yardım ve İşlem Rehberi</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0" style="font-size: 11px;">Bizi Takip Edin</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Facebook</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">X</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Linkedin</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Instagram</a></li>
                    <li><a href="#" style="font-size: 11px; text-decoration: none;">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="d-flex justify-content-between p-3">
        <div class="text-left p-3" style="display: flex; flex-direction: row; gap:0px;">
            <div style="margin-right: 10px;">
                <i class="fas fa-phone text-body" style="font-size: 12px; color: red;"></i>
            </div>
            <div>
                <p class="text-body" style="font-size: 12px; color: red;">7/24 Müşteri Hizmetleri</p>
                <p class="text-body" style="font-size: 12px;">0 850 222 44 44</p>
            </div>
            <div style="margin-right: 10px;">
                <i class="fas fa-question-circle" style="font-size: 12px; color: red;"></i>
            </div>
            <div>
                <p class="text-body" style="font-size: 12px; color: red;">Yardım Merkezi</p>
                <a href="#" class="text-body" style="font-size: 12px;">yardim.sahibinden.com</a>
            </div>
        </div>
        
        <div style="display: flex; flex-direction: row;">
            <div class="text-right p-3 " style="text-align: right; width: 200px; margin-right: 5px;">
                <select id="language" name="language" class="form-select" style="font-size: 12px; width: 100%;">
                    <option for="language" class="text-body" style="font-size: 10px; opacity: 0.7;">Dil Seçimi</option>
                    <option value="tr">Türkçe</option>
                    <option value="en">English</option>
                    <!-- Diğer dil seçeneklerini ekleyebilirsiniz -->
                </select>
            </div>
            <div style="flex: 0 0 auto; cursor: pointer; margin-left: 5px;">
                <a href="https://www.guvendamgasi.org.tr/firmadetay.php?Guid=25680f1d-270b-11ea-991b-48df373f4850" target="_blank">
                    <!-- Güven Damgası Alan E-Ticaret Sitesi ikonu (örnek bir resim URL'i kullanılmıştır) -->
                    <img src="https://example.com/guven_damgasi_icon.png" alt="Güven Damgası" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
        
    </div>
    
    
    <div style="display: flex; flex-direction: row;">
        <div class="text-left p-3 border" style="background-color: white; border-style: dashed; border-width: 2px; flex: 1;">
            <p class="text-body" style="font-size: 10px;">sahibinden.com'da yer alan kullanıcıların oluşturduğu tüm içerik, görüş ve bilgilerin doğruluğu, eksiksiz ve değişmez olduğu, yayınlanması ile ilgili yasal yükümlülükler içeriği oluşturan kullanıcıya aittir. Bu içeriğin, görüş ve bilgilerin yanlışlık, eksiklik veya yasalarla düzenlenmiş kurallara aykırılığından sahibinden.com hiçbir şekilde sorumlu değildir. Sorularınız için ilan sahibi ile irtibata geçebilirsiniz. Yer Sağlayıcı Belge No: 581</p>
        </div>
        <div style="flex: 0 0 auto; margin-left: 10px;">
            <!-- Örnek bir karekod resmi kullanıyorum, siz kendi oluşturduğunuz karekodu buraya ekleyin -->
            <img src="https://placekitten.com/100/100" alt="Karekod" style="width: 100px; height: 100px;">
        </div>
    </div>
    
    
    <div class="d-flex justify-content-between p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        <div class="text-left">
            <a class="text-body" style="font-size: 10px;">Copyright © 2000-2023 sahibinden.com</a>
        </div>
        <div class="text-right">
            <p class="text-body" style="font-size: 10px;">(*) Bireysel hesap sahipleri için, limitli adetlerde, belirli kategorilerde ve belirli tekliflerde</p>
        </div>
    </div>
    <!-- Copyright -->
  </footer>